apiVersion: v1
kind: Service
metadata:
  name: app-service
  namespace: default
  labels:
    app: hello-world
spec:
  selector:
    app: hello-world
  ports:
    - name: http
      port: 80
      targetPort: 9000
      protocol: TCP
