---
#master
## 2.1
- name: Install Kubectl
  ansible.builtin.apt:
    name: kubectl=1.34.*
    state: present
    force: true

- name: Configure Kubeadm
  ansible.builtin.blockinfile:
    path: /etc/kubernetes/kubeadm-config.yaml
    create: true
    block: |
      kind: ClusterConfiguration
      apiVersion: kubeadm.k8s.io/v1beta3
      kubernetesVersion: v1.34.0
      networking:
        podSubnet: "192.168.0.0/16"

## 2.2
- name: Initialize Cluster
  ansible.builtin.command: kubeadm init --config /etc/kubernetes/kubeadm-config.yaml
  args:
    creates: /etc/kubernetes/admin.conf

- name: Install Calico CNI
  ansible.builtin.command: kubectl apply -f https://raw.githubusercontent.com/projectcalico/calico/v3.27.0/manifests/calico.yaml
  environment:
    KUBECONFIG: /etc/kubernetes/admin.conf

- name: Create .kube Directory
  become: yes
  become_user: "{{ kube_user }}"
  ansible.builtin.file:
    path: /home/{{ kube_user }}/.kube
    state: directory
    mode: 0755
    owner: "{{ kube_user }}"
    group: "{{ kube_user }}"

- name: Copy Admin.conf to User's kube config
  ansible.builtin.copy:
    src: /etc/kubernetes/admin.conf
    dest: /home/{{ kube_user }}/.kube/config
    remote_src: yes
    owner: "{{ kube_user }}"
    group: "{{ kube_user }}"
    mode: '0600'

- name: Generate join token
  ansible.builtin.command: kubeadm token create --print-join-command
  register: gen_token
  changed_when: false



