name: CI

on: [push]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t doc-hello-world-im -f Dockerfile_hello_world .

      #- name: Run container
      #  run: docker run doc-hello-world-im:latest

      - name: Create kind cluster
        uses: helm/kind-action@v1
        with:
          config: kind-config.yaml
          cluster_name: devops-infra-lab

      - name: Load image in kind
        run: kind load docker-image doc-hello-world-im:latest --name devops-infra-lab

      - name: Create namespace monitoring
        run: kubectl create namespace monitoring

      - name: Install repo prometheus-community
        run: helm repo add prometheus-community https://prometheus-community.github.io/helm-charts && helm repo update

      - name: Install monitoring stack
        run: helm install monitoring prometheus-community/kube-prometheus-stack --namespace monitoring

      - name: Deploy in k8s
        run: kubectl apply -f ./k8s

      - name: Wait pods to be ready
        run: kubectl wait --for=condition=Ready pods --all --timeout=300s

      - name: Check pods
        run: kubectl get pods

