name: CI

on: [push]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Pull image
        run: docker pull ghcr.io/sergeilubimkov/doc-hello-world-im:v1.1.1

      - name: Create kind cluster
        uses: helm/kind-action@v1
        with:
          config: kind-config.yaml
          cluster_name: devops-infra-lab

      - name: Load image in kind
        run: kind load docker-image ghcr.io/sergeilubimkov/doc-hello-world-im:v1.1.1 --name devops-infra-lab

      - name: Create namespace monitoring
        run: kubectl create namespace monitoring

      - name: Install repo prometheus-community
        run: helm repo add prometheus-community https://prometheus-community.github.io/helm-charts && helm repo update

      - name: Install monitoring stack
        run: helm install monitoring prometheus-community/kube-prometheus-stack --namespace monitoring

      - name: Deploy in k8s
        run: kubectl apply -f ./k8s

      - name: Show app resources
        run: |
          kubectl get deploy,rs,pods -o wide
          kubectl describe deployment app-deployment || true
          kubectl get events --sort-by=.lastTimestamp | tail -n 200

      - name: Wait pods to be ready
        run: kubectl wait --for=condition=Available deployment --all --timeout=300s

      - name: Debug app (on failure)
        if: failure()
        run: |
          kubectl get pods -o wide
          kubectl describe pods
          kubectl logs -l app=app --all-containers --tail=200 || true
          kubectl get events --sort-by=.lastTimestamp | tail -n 200

      - name: Check pods
        run: kubectl get pods

