name: CI

on: [push]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - run: docker build -t hello-world-app -f Dockerfile_hello_world .
      - run: docker run hello-world-app:latest
