name: Build and Deploy

on:
  push:
    tags:
      - "v*"

  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to build (e.g., v1.0.0)'
        required: true
        type: string

permissions:
  contents: read
  packages: write

env:
  APP_VERSION: ${{ github.ref_name }}

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:

      - name: Login to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Docker image and push
        run: |
             IMAGE=ghcr.io/${{ github.repository_owner }}/doc-hello-world-im:${APP_VERSION}

             docker build --build-arg APP_VERSION=${APP_VERSION} -f Dockerfile_hello_world -t $IMAGE .

             docker push $IMAGE

      - name: Deploy to Kubernetes
        run: |
             ssh -o StrictHostKeyChecking=no ubuntu@${{ secrets.SERVER_IP }} << EOF
             kubectl set image deployment/app-deployment \
             hello-world=ghcr.io/${{ github.repository_owner }}/doc-hello-world-im:${APP_VERSION}
             EOF
